<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        .low {
            font-size: 0px;
        }

        .fl {
            background-color: aliceblue;
        }

        .qz {
            margin: 5px;
            height: 30px;
            width: 75px;
            border: 1px #000 solid;
            background-color: bisque;
            text-align: center;
            display: inline-block;
            position: fixed;
            transition: .2s ease;
            left: 0;
            bottom: 0;
        }

        #TIPSSS {
            width: calc(30px + 20vw);
            background-color: aliceblue;
            position: fixed;
            top: 0;
            right: 0;
            padding: 10px;
        }

        .other {
            margin: 5px;
            height: 30px;
            width: 75px;
            border: 1px #000 solid;
            background-color: bisque;
            text-align: center;
            display: inline-block;
            position: fixed;
            transition: .2s ease;
            left: 0;
            bottom: 0;
            top: 0;
            right: 200px;
            left: unset;
        }
    </style>
</head>

<body>
    <div class="fits">
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
    </div>
    <div>
        <hr>
        <hr>
    </div>
    <div class="own">
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
        <div class="low">
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
            <div style="display: inline-block; margin: 5px; height: 30px; width: 75px; border: 1px #000 solid;"
                class="fl czqz"></div>
        </div>
    </div>
    <div>

    </div>

    <div id="TIPSSS" style="text-align: center;">
        --信息框--
        <br>
        YOUR ID: <span id="URID"></span>
        <br>
        对面是否摆好: <span id="BAIHAO">NO</span>
        <br>
        是否开始: <span id="YXKS">NO</span>
    </div>

    <div id="jq" class="qz czqz">
        军旗
    </div>
    <div id="dl-1" class="qz czqz">
        地雷1
    </div>
    <div id="dl-2" class="qz czqz">
        地雷2
    </div>
    <div id="dl-3" class="qz czqz">
        地雷3
    </div>
    <div id="gb-1" class="qz czqz">
        工兵1
    </div>
    <div id="gb-2" class="qz czqz">
        工兵2
    </div>
    <div id="gb-3" class="qz czqz">
        工兵3
    </div>
    <div id="pz-1" class="qz czqz">
        排长-1
    </div>
    <div id="pz-2" class="qz czqz">
        排长-2
    </div>
    <div id="pz-3" class="qz czqz">
        排长-3
    </div>
    <div id="lz-1" class="qz czqz">
        连长-1
    </div>
    <div id="lz-2" class="qz czqz">
        连长-2
    </div>
    <div id="lz-3" class="qz czqz">
        连长-3
    </div>
    <div id="yz-1" class="qz czqz">
        营长-1
    </div>
    <div id="yz-2" class="qz czqz">
        营长-2
    </div>
    <div id="tz-1" class="qz czqz">
        团长-1
    </div>
    <div id="tz-2" class="qz czqz">
        团长-2
    </div>

    <div id="luz-1" class="qz czqz">
        旅长-1
    </div>
    <div id="luz-2" class="qz czqz">
        旅长-2
    </div>

    <div id="sz-1" class="qz czqz">
        师长-1
    </div>
    <div id="sz-2" class="qz czqz">
        师长-2
    </div>

    <div id="zd-1" class="qz czqz">
        炸弹-1
    </div>
    <div id="zd-2" class="qz czqz">
        炸弹-2
    </div>
    <div id="jz" class="qz czqz">
        军长
    </div>
    <div id="sl" class="qz czqz">
        司令
    </div>

    <button style="margin-left: 200px;" id="baihao">摆好了!</button>
    <button style="margin-left: 0px;" id="chongb">重新摆棋</button>
    <div id="TIP">

    </div>
    <div id="0-0" class="other czqz"></div>
    <div id="0-1" class="other czqz"></div>
    <div id="0-2" class="other czqz"></div>
    <div id="0-3" class="other czqz"></div>
    <div id="0-4" class="other czqz"></div>
    <div id="1-0" class="other czqz"></div>
    <div id="1-1" class="other czqz"></div>
    <div id="1-2" class="other czqz"></div>
    <div id="1-3" class="other czqz"></div>
    <div id="1-4" class="other czqz"></div>
    <div id="2-0" class="other czqz"></div>
    <div id="2-1" class="other czqz"></div>
    <div id="2-2" class="other czqz"></div>
    <div id="2-3" class="other czqz"></div>
    <div id="2-4" class="other czqz"></div>
    <div id="3-0" class="other czqz"></div>
    <div id="3-1" class="other czqz"></div>
    <div id="3-2" class="other czqz"></div>
    <div id="3-3" class="other czqz"></div>
    <div id="3-4" class="other czqz"></div>
    <div id="4-0" class="other czqz"></div>
    <div id="4-1" class="other czqz"></div>
    <div id="4-2" class="other czqz"></div>
    <div id="4-3" class="other czqz"></div>
    <div id="4-4" class="other czqz"></div>
    <div id="5-0" class="other czqz"></div>
    <div id="5-1" class="other czqz"></div>
    <div id="5-2" class="other czqz"></div>
    <div id="5-3" class="other czqz"></div>
    <div id="5-4" class="other czqz"></div>
    <!-- <button id="NEWFJ">创建房间</button>
    <button id="JOIN">加入房间</button> -->
    <!-- <script src="/static/Jquery/jq.min.js"></script> -->
    <script src="../static/Jquery/jq.min.js"></script>
    <script>
        var ksyx = 0;
    </script>
    <script>
        function VAL(V) {
            if (V == 'jq') return 0;
            if (V == 'dl-1') return 1;
            if (V == 'dl-2') return 2;
            if (V == 'dl-3') return 3;
            if (V == 'gb-1') return 4;
            if (V == 'gb-2') return 5;
            if (V == 'gb-3') return 6;
            if (V == 'pz-1') return 7;
            if (V == 'pz-2') return 8;
            if (V == 'pz-3') return 9;
            if (V == 'lz-1') return 10;
            if (V == 'lz-2') return 11;
            if (V == 'lz-3') return 12;
            if (V == 'yz-1') return 13;
            if (V == 'yz-2') return 14;
            if (V == 'tz-1') return 15;
            if (V == 'tz-2') return 16;
            if (V == 'luz-1') return 17;
            if (V == 'luz-2') return 18;
            if (V == 'sz-1') return 19;
            if (V == 'sz-2') return 20;
            if (V == 'zd-1') return 21;
            if (V == 'zd-2') return 22;
            if (V == 'jz') return 23;
            if (V == 'sl') return 24;
            return -1;
        }
        var bh = new Array(24);
    </script>
    <script>
        var bqflag = 0, thatis;
        $("#jq").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'jq';
            }
        })
        $("#sl").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'sl';
            }
        })
        $("#jz").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'jz';
            }
        })

        $("#zd-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'zd-1';
            }
        })

        $("#zd-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'zd-2';
            }
        })


        $("#sz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'sz-1';
            }
        })

        $("#sz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'sz-2';
            }
        })

        $("#luz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'luz-1';
            }
        })

        $("#luz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'luz-2';
            }
        })

        $("#tz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'tz-1';
            }
        })

        $("#tz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'tz-2';
            }
        })

        $("#yz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'yz-1';
            }
        })

        $("#yz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'yz-2';
            }
        })

        $("#lz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'lz-1';
            }
        })
        $("#lz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'lz-2';
            }
        })
        $("#lz-3").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'lz-3';
            }
        })

        $("#pz-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'pz-1';
            }
        })
        $("#pz-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'pz-2';
            }
        })
        $("#pz-3").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'pz-3';
            }
        })
        $("#gb-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'gb-1';
            }
        })
        $("#gb-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'gb-2';
            }
        })
        $("#gb-3").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'gb-3';
            }
        })

        $("#dl-1").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'dl-1';
            }
        })
        $("#dl-2").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'dl-2';
            }
        })
        $("#dl-3").click(function () {
            if (bqflag == 0) {
                bqflag = 1;
                thatis = 'dl-3';
            }
        })

    </script>

    <script>
        var Nid = prompt("your id(0/1)");
        while ((Nid != 0 && Nid != 1) || Nid == null || Nid == '') {
            Nid = prompt("your id(0/1)");
        }
        console.log("用户: " + Nid);
        $('#URID').html(Nid);
    </script>

    <script>
        var q = new Array(6);
        for (var i = 0; i < q.length; i++) {
            q[i] = new Array(5).fill(0);
        }
        $('#chongb').click(function () {
            $('.qz').css('buttom', '0');
            $('.qz').css('left', '0');
            $('.qz').css('top', 'unset');
            for (var i = 0; i < q.length; i++) {
                q[i].fill(0);
                console.log(q);
            }
        })
        var fd = 0;
        window.onload = function () {
            textObj = document.getElementsByClassName('czqz');
            for (var i = 0; i < textObj.length; i++) {
                textObj[i].index = i;
                textObj[i].onclick = function () {
                    console.log(this.index);
                    if (bqflag == 1 && ksyx == 0 && this.index <= 59) {
                        if (Math.floor((this.index) / 5) > 5) {
                            for (var i = 0; i < q.length; i++) {
                                for (var j = 0; j < q[i].length; j++) {
                                    if (q[i][j] == thatis)
                                        q[i][j] = 0;
                                }
                            }
                            // console.log(thatis);
                            q[Math.floor((this.index) / 5) - 6][((this.index) % 5)] = thatis;
                            console.log(q);
                            bqflag = 0;
                            $(`#${thatis}`).css('top', document.getElementsByClassName('fl')[this.index].offsetTop - 5 + 'px');
                            $(`#${thatis}`).css('left', document.getElementsByClassName('fl')[this.index].offsetLeft - 5 + 'px');
                        }
                    }
                    if (ksyx == 1) {
                        if (this.index >= 60 && this.index <= 84) {
                            document.getElementsByClassName('czqz')[fd].style.boxShadow = 'rgb(0 0 0 / 10%) 0px 0px 0px 0px';
                            // console.log(Math.floor((this.index - 60) / 5) + ' ' + ((this.index - 60) % 5));
                            fd = this.index;
                            document.getElementsByClassName('czqz')[this.index].style.boxShadow = 'rgb(0 0 0 / 10%) 0px 0px 20px 9px';
                        }
                        if (this.index <= 59 && fd != 0) {
                            console.log(Math.floor((this.index) / 5) + ' ' + ((this.index) % 5));
                            document.getElementsByClassName('czqz')[fd].style.boxShadow = 'rgb(0 0 0 / 10%) 0px 0px 0px 0px';
                            var MYBH = bh[fd - 60];
                            console.log(": " + MYBH);
                            MYBH = 24 - MYBH;
                            console.log(": " + MYBH);
                            $.ajax({
                                url: "move",
                                type: "POST",
                                data: { "id": Nid, "bh": MYBH, "x": Math.floor((this.index) / 5), "y": ((this.index) % 5) },
                                success: function (result) {
                                    console.log(result.MMSG);
                                    if (result.MMSG != -1) {
                                        document.getElementsByClassName('czqz')[fd].style.left = document.getElementsByClassName('fl')[this.index].offsetLeft - 5 + 'px';
                                        document.getElementsByClassName('czqz')[fd].style.top = document.getElementsByClassName('fl')[this.index].offsetTop - 5 + 'px';
                                    } else {
                                        $("#TIP").html("你不能这样走你个NB");
                                    }
                                }
                            });
                            fd = 0;
                        }
                        if (this.index > 84 && fd != 0) {
                            // eat:
                            // console.log(Math.floor((this.index - 85) / 5) + ' ' + ((this.index - 85) % 5));
                        }
                    }
                }
            }
        }
    </script>
    <script>

    </script>
    <script>
        $("#baihao").click(function () {
            submit();
        })
        function submit() {
            $.ajax({
                url: "submit",
                type: "POST",
                data: { "id": Nid, "x0y0": q[0][0], "x0y1": q[0][1], "x0y2": q[0][2], "x0y3": q[0][3], "x0y4": q[0][4], "x1y0": q[1][0], "x1y1": q[1][1], "x1y2": q[1][2], "x1y3": q[1][3], "x1y4": q[1][4], "x2y0": q[2][0], "x2y1": q[2][1], "x2y2": q[2][2], "x2y3": q[2][3], "x2y4": q[2][4], "x3y0": q[3][0], "x3y1": q[3][1], "x3y2": q[3][2], "x3y3": q[3][3], "x3y4": q[3][4], "x4y0": q[4][0], "x4y1": q[4][1], "x4y2": q[4][2], "x4y3": q[4][3], "x4y4": q[4][4], "x5y0": q[5][0], "x5y1": q[5][1], "x5y2": q[5][2], "x5y3": q[5][3], "x5y4": q[5][4] },
                success: function (result) {
                    console.log(result.MMSG);
                    if (result.MMSG == true) {
                        var dsauibduaiwbgdhauwdhawoi = -1;
                        for (let i = 0; i < 6; i++) {
                            for (let j = 0; j < 5; j++) {
                                if (VAL(q[i][j]) == -1) continue;
                                bh[VAL(q[i][j])] = ++dsauibduaiwbgdhauwdhawoi;
                            }
                        }
                        $("#baihao").css("display", "none");
                        $("#chongb").css("display", "none");
                        ksyx = 1;
                    } else {
                        $("#TIP").html("摆棋有误，请重新摆棋");
                    }
                }
            });
        }


        var FLAGOFDM = 0;
        // setInterval(() => {
        //     if (FLAGOFDM == 0) {
        //         $.ajax({
        //             url: "bq",
        //             type: "POST",
        //             data: { "id": Nid },
        //             success: function (result) {

        //                 console.log(result.MMSG);
        //                 if (result.MMSG == true) {
        //                     FLAGOFDM = 1;
        //                     $("#BAIHAO").html("YES");
        //                 }

        //             }
        //         });
        //     }
        // }, 200);

        setInterval(() => {
            if (FLAGOFDM == 1 && ksyx == 1) {
                yxks();
            }
        }, 200);
        // yxks();
        function yxks() {
            ksyx = 1;
            $('#YXKS').html('YES');
            for (let i = 0; i < 6; i++) {
                for (let j = 0; j < 5; j++) {
                    $(`#${i}-${j}`).css('right', 'unset');
                    $(`#${i}-${j}`).css('top', document.getElementsByClassName('fl')[i * 5 + j].offsetTop - 5 + 'px');
                    $(`#${i}-${j}`).css('left', document.getElementsByClassName('fl')[i * 5 + j].offsetLeft - 5 + 'px');
                }
            }
        }
    </script>
</body>

</html>